{% extends "base.html" %}
{% block head %}
    {{ super() }}
{% endblock head %}

{% block content %}
    {{ super() }}
    <h1>About</h1>
    <p>Version: {{ version }}</p>
    <h2>Details on 4K Videos</h2>
    <h3>LG 4K30P</h3>
    <ul>
        <li>Resolution: 3820x2160</li>
        <li>Video Format: H.264 (AVC)</li>
        <li>Frames per Second: 30</li>
        <li>Audio Format: MPEG-4 AAC 48000 Hz</li>
    </ul>

    <h3>SONY 4K60P</h3>
    <ul>
        <li>Resolution: 3820x2160</li>
        <li>Video Format: H.265 (HEVC)</li>
        <li>Bit Depth: 10-bit</li>
        <li>Frames per Second: 60</li>
        <li>HDR Type: HDR10</li>
        <li>Audio Format: MPEG-4 AAC 48000 Hz</li>
    </ul>
{% endblock content %}
