{% extends "base.html" %}
{% block head %}
    {{ super() }}
{% endblock head %}

{% block content %}
    {{ super() }}
    <h1>Audio</h1>
    <form action="/audio" method = "POST">
        <p><button type="submit" class="button buttonOptra">Say It!</button>
        What to say: <input type = "text" style = "width: 300px;" name = "whattosay" value = "{{ whattosay }}"/></p>
    </form>

    <p>
        <button onclick="window.location.href='/declaration';" class="button buttonOptra">Declaration</button>
        <button onclick="window.location.href='/bach';" class="button buttonOptra">Bach</button>
        <button onclick="window.location.href='/vivaldi';" class="button buttonOptra">Vivaldi</button>
    </p>
    <p>
        <button onclick="window.location.href='/stopaudio';" class="button buttonRed">Stop</button>
    </p>

    <form class="form-inline" method="POST" action="{{ url_for('change_audio_output', return_to='audio') }}">
        <div class="input-group audioOutput">
            <div class="input-group-prepend">
                <span class="input-group-text"><h2>Audio Output:</h2></span>
            </div>
            <select name="audioOutput" class="selectpicker form-control">
                {% for item in audioOutputs %}
                    {% if audioOutput == item %}
                        <option value="{{ item }}" selected>{{ item }}</option>
                    {% else %}
                        <option value="{{ item }}">{{ item }}</option>
                    {% endif %}
                {% endfor %}
            </select>
            <button class="buttonSmall buttonOptra" type="submit">Submit</button>
        </div>
    </form>

    <form class="form-inline" method="POST" action="{{ url_for('change_voice') }}">
        <div class="input-group voice">
            <div class="input-group-prepend">
                <span class="input-group-text"><h2>Voice:</h2></span>
            </div>
            <select name="voice" class="selectpicker form-control">
                {% for item in voices %}
                    {% if voice == item %}
                        <option value="{{ item }}" selected>{{ item }}</option>
                    {% else %}
                        <option value="{{ item }}">{{ item }}</option>
                    {% endif %}
                {% endfor %}
            </select>
            <button class="buttonSmall buttonOptra" type="submit">Submit</button>
        </div>
    </form>
<!--

    <meta name="viewport" content="width=device-width, initial-scale=1">
-->

    <form method="POST" action="{{url_for('change_volume', return_to='audio')}}">
        <div class="slidecontainer" id="slide_container_v">
        <h2>Volume (Headphone Jack):</h2>
        <input type="range" min={{min}} max={{max}} value={{volume}} class="slider"
            id="myRange" name="volume">
        Current Volume: {{volume}}<br>
        New Volume: <span id="vol"></span><br>
        <input class="buttonSmall buttonOptra" type="submit" value="Submit">
        </div>
    </form>

    <script>
    var slider = document.getElementById("myRange");
    var output = document.getElementById("vol");
    output.innerHTML = slider.value;

    slider.oninput = function() {
      output.innerHTML = this.value;
    }
    </script>

{% endblock content %}
