{% extends "base.html" %}
{% block head %}
    {{ super() }}
{% endblock head %}

{% block content %}
    {{ super() }}
    <h1>Video<h1>
    <h2>X11 Apps</h2>
    <p>Use buttons to start X11 Apps on the HDMI port.</p>    
    <p style="color:red;">{{warning}}</p>
    <button onclick="window.location.href='/xclock';" class="button buttonOptra">xclock</button>
    <button onclick="window.location.href='/xlogo';" class="button buttonOptra">xlogo</button>
    <button onclick="window.location.href='/xterm';" class="button buttonOptra">xterm</button>
    <p><button onclick="window.location.href='/stopx';" class="button buttonRed">Stop X11 Apps</button></p>
    <h2>Play Video</h2>
    <p>Use buttons to start a video on the HDMI port.</p>    
    <button onclick="window.location.href='/playvideo?videofile=earth.mp4';" class="button buttonOptra">Earth</button>
    <button onclick="window.location.href='/playvideo?videofile=sunset.mp4';" class="button buttonOptra">Sunset</button>
    <button onclick="window.location.href='/playvideo?videofile=fire.mp4';" class="button buttonOptra">Fire</button>
    <button onclick="window.location.href='/playvideo?videofile=Lake_Erie.mp4';" class="button buttonOptra">Lake Erie</button>
    <br>
    <button onclick="window.location.href='/playcamera';" class="button buttonOptra">Camera</button>
    <h3>Streaming Videos</h3>
    <p>MPEG-4</p>
    <p><button onclick="window.location.href='/playvideo?stream=https://storage.googleapis.com/gtv-videos-bucket/sample/BigBuckBunny.mp4';" class="button buttonOptra">Big Buck Bunny</button>
    <button onclick="window.location.href='/playvideo?stream=https://storage.googleapis.com/gtv-videos-bucket/sample/ElephantsDream.mp4';" class="button buttonOptra">Elephants Dream</button>
    <button onclick="window.location.href='/playvideo?stream=https://storage.googleapis.com/gtv-videos-bucket/sample/Sintel.mp4';" class="button buttonOptra">Sintel</button>
    <button onclick="window.location.href='/playvideo?stream=https://storage.googleapis.com/gtv-videos-bucket/sample/TearsOfSteel.mp4';" class="button buttonOptra">Tears of Steel</button>
    <br>
    <button onclick="window.location.href='/playvideo?stream=https://www.pexels.com/download/video/3052446/';" class="button buttonOptra">Waterfall</button>
    <button onclick="window.location.href='/playvideo?stream=https://www.pexels.com/download/video/2084684/';" class="button buttonOptra">Fountain</button>
    <button onclick="window.location.href='/playvideo?stream=https://www.pexels.com/download/video/856382/';" class="button buttonOptra">Kaleidoscope</button>
    <p>DASH</p>
    <button onclick="window.location.href='/playvideo?stream=https://dash.akamaized.net/dash264/TestCases/1b/qualcomm/1/MultiRatePatched.mpd ';" class="button buttonOptra">Big Buck Bunny</button>
    <button onclick="window.location.href='/playvideo?stream=https://dash.akamaized.net/dash264/TestCases/2c/qualcomm/1/MultiResMPEG2.mpd ';" class="button buttonOptra">Elephants Dream</button>
    <button onclick="window.location.href='/playvideo?stream=https://dash.akamaized.net/dash264/TestCasesUHD/2b/11/MultiRate.mpd ';" class="button buttonOptra">Meridian</button>
    <p>HLS</p>
    <button onclick="window.location.href='/playvideo?stream=https://test-streams.mux.dev/x36xhzz/x36xhzz.m3u8 ';" class="button buttonOptra">Big Buck Bunny</button>
    <button onclick="window.location.href='/playvideo?stream=https://playertest.longtailvideo.com/adaptive/elephants_dream_v4/redundant.m3u8 ';" class="button buttonOptra">Elephants Dream</button>
    <button onclick="window.location.href='/playvideo?stream=https://playertest.longtailvideo.com/adaptive/oceans_aes/oceans_aes.m3u8 ';" class="button buttonOptra">Oceans</button>
    <button onclick="window.location.href='/playvideo?stream=http://qthttp.apple.com.edgesuite.net/1010qwoeiuryfg/sl.m3u8 ';" class="button buttonOptra">Apple</button>
    <p><button onclick="window.location.href='/stopvideo';" class="button buttonRed">Stop Videos</button></p>

    <form class="form-inline" method="POST" action="{{ url_for('change_audio_output', return_to='video') }}">
        <div class="input-group audioOutput">
            <div class="input-group-prepend">
                <span class="input-group-text"><h2>Audio Output:</h2></span>
            </div>
            <select name="audioOutput" class="selectpicker form-control">
                {% for item in audioOutputs %}
                    {% if audioOutput == item %}
                        <option value="{{ item }}" selected>{{ item }}</option>
                    {% else %}
                        <option value="{{ item }}">{{ item }}</option>
                    {% endif %}
                {% endfor %}
            </select>
            <button class="buttonSmall buttonOptra" type="submit">Submit</button>
        </div>
    </form>

    <form method="POST" action="{{url_for('change_volume', return_to='video')}}">
        <div class="slidecontainer" id="slide_container_v">
        <h2>Volume (Headphone Jack):</h2>
        <input type="range" min={{min}} max={{max}} value={{volume}} class="slider"
            id="myRange" name="volume">
        Current Volume: {{volume}}<br>
        New Volume: <span id="vol"></span><br>
        <input class="buttonSmall buttonOptra" type="submit" value="Submit">
        </div>
    </form>

    <script>
    var slider = document.getElementById("myRange");
    var output = document.getElementById("vol");
    output.innerHTML = slider.value;

    slider.oninput = function() {
      output.innerHTML = this.value;
    }
    </script>

{% endblock content %}
